/* Color Theme Swatches in Hex */
$Two-jellyfish-on-a-blue-background-1-hex: #0424D9;

$Two-jellyfish-on-a-blue-background-2-hex: #031CA6;

$Two-jellyfish-on-a-blue-background-3-hex: #03178C;

$Two-jellyfish-on-a-blue-background-4-hex: #020F59;

$Two-jellyfish-on-a-blue-background-5-hex: #3DADF2;

/* Color Theme Swatches in RGBA */
$Two-jellyfish-on-a-blue-background-1-rgba: rgba(4, 36, 216, 1);

$Two-jellyfish-on-a-blue-background-2-rgba: rgba(3, 27, 165, 1);

$Two-jellyfish-on-a-blue-background-3-rgba: rgba(2, 23, 140, 1);

$Two-jellyfish-on-a-blue-background-4-rgba: rgba(1, 14, 89, 1);

$Two-jellyfish-on-a-blue-background-5-rgba: rgba(60, 172, 242, 1);

/* Color Theme Swatches in HSLA */
$Two-jellyfish-on-a-blue-background-1-hsla: hsla(230, 96, 43, 1);

$Two-jellyfish-on-a-blue-background-2-hsla: hsla(230, 96, 33, 1);

$Two-jellyfish-on-a-blue-background-3-hsla: hsla(230, 96, 28, 1);

$Two-jellyfish-on-a-blue-background-4-hsla: hsla(230, 96, 17, 1);

$Two-jellyfish-on-a-blue-background-5-hsla: hsla(202, 87, 59, 1);