// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// @import 'colors.scss'
// @import 'colors'

h1 {
  font-family: sans-serif;

  span {
    background-color: $Two-jellyfish-on-a-blue-background-1-hex;
    color: white;
    // padding: 10px;
  }
}

a {
  text-decoration: none;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}